    <div class="credits text-center">
        <p>
            User Management App - MEAN Stack User Registration and Login 
        </p>
        <p>
            Mahesh Patil
        </p>
    </div>
</body>
</html>